/* general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(244, 247, 248);
}

.container {
    width: 80%;
    margin: 50px auto;
    padding-bottom: 20px;
}

.bgr-white {
    background-color: #fff;
}

.margin-section {
    margin: 40px 0 30px 60px;
}

.blue-label {
    background-color: rgb(35, 164, 235, 0.8);
}

.purple-label {
    background-color: rgb(147, 103, 220)
} 

.green-label {
    background-color: rgb(74, 184, 160);
}

.orange-label {
    background-color: rgb(248, 147, 58);
}

.pink-label {
    background-color: rgb(219, 89, 150);
}

.lime-label {
    background-color: rgb(165, 194, 53);
}

/* main header */

.main-header {
    height: 90px;
}

#logo {
    padding: 10px 5px 10px 20px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    line-height: 90px;
    vertical-align: middle;
}

/* button-header */

.button-header {
    height: 60px;
    border-bottom: 3px solid rgb(244, 247, 248);
}

.btn {
    font-size: 11px;
    font-weight: 500;
    color: white;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#btn-task {
    color: white;
    background-color: rgb(35, 164, 235, 0.8);
    border: none;
    margin: 15px 3px 5px 60px;
}

#btn-section {
    color: lightgray;
    border: 1px solid lightgray;
}

/* section */

ul {
    margin-bottom: 20px;
    list-style: none;
}

li {
    margin-top: 15px;
    margin-right: 5px;
}

li:before {
    font-size: 13px;
    text-align: center;
    display: inline-block;
    height: 17px;
    width: 17px;    
    border: 1px solid;
    border-radius: 50%;
}

.li-check:before {
    content: "\2713";
    color: green;
    border-color: green;
}

.li-cross:before {
    content: "\2717";
    color: red;   
    border-color: red;
}

.label {
    font-size: 11px;
    color: white;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
